In [44]:
import pandas as pd
import numpy as np

In [45]:
df= pd.read_csv("Students_Performance_Dataset.csv")
df

,Student_ID,First_Name,Last_Name,Email,Gender,Age,Department,Attendance (%),Midterm_Score,Final_Score,...,Projects_Score,Total_Score,Grade,Study_Hours_per_Week,Extracurricular_Activities,Internet_Access_at_Home,Parent_Education_Level,Family_Income_Level,Stress_Level (1-10),Sleep_Hours_per_Night
0,S1000,Omar,Williams,student0@university.com,Female,22,Mathematics,97.36,40.61,59.61,...,62.84,59.8865,F,10.3,Yes,No,Master's,Medium,1,5.9
1,S1001,Maria,Brown,student1@university.com,Male,18,Business,97.71,57.27,74.00,...,98.23,81.9170,B,27.1,No,No,High School,Low,4,4.3
2,S1002,Ahmed,Jones,student2@university.com,Male,24,Engineering,99.52,41.84,63.85,...,91.22,67.7170,D,12.4,Yes,No,High School,Low,9,6.1
3,S1003,Omar,Williams,student3@university.com,Female,24,Engineering,90.38,45.65,44.44,...,55.48,51.6535,F,25.5,No,Yes,High School,Low,8,4.9
4,S1004,John,Smith,student4@university.com,Female,23,CS,59.41,53.13,61.77,...,87.43,71.4030,C,13.3,Yes,No,Master's,Medium,6,4.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,S5995,Ahmed,Jones,student4995@university.com,Male,19,CS,96.09,45.86,45.63,...,51.66,53.5470,F,7.8,No,No,Master's,Medium,10,4.5
4996,S5996,Emma,Brown,student4996@university.com,Male,19,Mathematics,96.30,78.67,47.42,...,52.33,59.0240,F,24.2,No,Yes,NaN,Medium,4,7.2
4997,S5997,John,Brown,student4997@university.com,Female,24,CS,89.94,50.84,65.83,...,97.89,74.7560,C,7.6,No,Yes,NaN,High,5,6.6
4998,S5998,Sara,Davis,student4998@university.com,Male,23,Engineering,99.09,55.44,57.45,...,84.74,68.6585,D,14.5,Yes,No,PhD,Medium,10,5.9
4999,S5999,Maria,Brown,student4999@university.com,Female,21,Mathematics,90.33,93.29,88.42,...,66.23,78.7485,C,29.9,Yes,Yes,PhD,High,2,5.3

In [46]:
print("Shape: ",df.shape)

Shape:  (5000, 23)

In [48]:
print("Columns:",df.columns.tolist())

Columns: ['Student_ID', 'First_Name', 'Last_Name', 'Email', 'Gender', 'Age', 'Department', 'Attendance (%)', 'Midterm_Score', 'Final_Score', 'Assignments_Avg', 'Quizzes_Avg', 'Participation_Score', 'Projects_Score', 'Total_Score', 'Grade', 'Study_Hours_per_Week', 'Extracurricular_Activities', 'Internet_Access_at_Home', 'Parent_Education_Level', 'Family_Income_Level', 'Stress_Level (1-10)', 'Sleep_Hours_per_Night']

In [49]:
df.head(10)

,Student_ID,First_Name,Last_Name,Email,Gender,Age,Department,Attendance (%),Midterm_Score,Final_Score,...,Projects_Score,Total_Score,Grade,Study_Hours_per_Week,Extracurricular_Activities,Internet_Access_at_Home,Parent_Education_Level,Family_Income_Level,Stress_Level (1-10),Sleep_Hours_per_Night
0,S1000,Omar,Williams,student0@university.com,Female,22,Mathematics,97.36,40.61,59.61,...,62.84,59.8865,F,10.3,Yes,No,Master's,Medium,1,5.9
1,S1001,Maria,Brown,student1@university.com,Male,18,Business,97.71,57.27,74.00,...,98.23,81.9170,B,27.1,No,No,High School,Low,4,4.3
2,S1002,Ahmed,Jones,student2@university.com,Male,24,Engineering,99.52,41.84,63.85,...,91.22,67.7170,D,12.4,Yes,No,High School,Low,9,6.1
3,S1003,Omar,Williams,student3@university.com,Female,24,Engineering,90.38,45.65,44.44,...,55.48,51.6535,F,25.5,No,Yes,High School,Low,8,4.9
4,S1004,John,Smith,student4@university.com,Female,23,CS,59.41,53.13,61.77,...,87.43,71.4030,C,13.3,Yes,No,Master's,Medium,6,4.5
5,S1005,Liam,Brown,student5@university.com,Male,21,Mathematics,60.60,70.21,64.48,...,67.65,68.0900,D,25.3,Yes,No,NaN,Medium,6,5.6
6,S1006,Ahmed,Jones,student6@university.com,Male,24,Business,67.01,90.85,93.74,...,87.51,82.8575,B,22.1,Yes,No,Bachelor's,High,2,4.0
7,S1007,Ahmed,Smith,student7@university.com,Male,19,Engineering,65.91,91.72,59.47,...,90.04,71.3685,C,16.7,Yes,Yes,NaN,Low,5,7.8
8,S1008,Omar,Smith,student8@university.com,Female,21,CS,97.83,76.97,62.75,...,57.57,65.8605,D,18.1,No,Yes,PhD,High,9,4.8
9,S1009,Sara,Smith,student9@university.com,Female,22,Business,89.45,95.69,86.97,...,83.09,82.7555,B,9.4,Yes,No,NaN,High,8,7.1

In [51]:
df.head(10)

,Student_ID,First_Name,Last_Name,Email,Gender,Age,Department,Attendance (%),Midterm_Score,Final_Score,...,Projects_Score,Total_Score,Grade,Study_Hours_per_Week,Extracurricular_Activities,Internet_Access_at_Home,Parent_Education_Level,Family_Income_Level,Stress_Level (1-10),Sleep_Hours_per_Night
0,S1000,Omar,Williams,student0@university.com,Female,22,Mathematics,97.36,40.61,59.61,...,62.84,59.8865,F,10.3,Yes,No,Master's,Medium,1,5.9
1,S1001,Maria,Brown,student1@university.com,Male,18,Business,97.71,57.27,74.00,...,98.23,81.9170,B,27.1,No,No,High School,Low,4,4.3
2,S1002,Ahmed,Jones,student2@university.com,Male,24,Engineering,99.52,41.84,63.85,...,91.22,67.7170,D,12.4,Yes,No,High School,Low,9,6.1
3,S1003,Omar,Williams,student3@university.com,Female,24,Engineering,90.38,45.65,44.44,...,55.48,51.6535,F,25.5,No,Yes,High School,Low,8,4.9
4,S1004,John,Smith,student4@university.com,Female,23,CS,59.41,53.13,61.77,...,87.43,71.4030,C,13.3,Yes,No,Master's,Medium,6,4.5
5,S1005,Liam,Brown,student5@university.com,Male,21,Mathematics,60.60,70.21,64.48,...,67.65,68.0900,D,25.3,Yes,No,NaN,Medium,6,5.6
6,S1006,Ahmed,Jones,student6@university.com,Male,24,Business,67.01,90.85,93.74,...,87.51,82.8575,B,22.1,Yes,No,Bachelor's,High,2,4.0
7,S1007,Ahmed,Smith,student7@university.com,Male,19,Engineering,65.91,91.72,59.47,...,90.04,71.3685,C,16.7,Yes,Yes,NaN,Low,5,7.8
8,S1008,Omar,Smith,student8@university.com,Female,21,CS,97.83,76.97,62.75,...,57.57,65.8605,D,18.1,No,Yes,PhD,High,9,4.8
9,S1009,Sara,Smith,student9@university.com,Female,22,Business,89.45,95.69,86.97,...,83.09,82.7555,B,9.4,Yes,No,NaN,High,8,7.1

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Student_ID                  5000 non-null   object
 1   First_Name                  5000 non-null   object
 2   Last_Name                   5000 non-null   object
 3   Email                       5000 non-null   object
 4   Gender                      5000 non-null   object
 5   Age                         5000 non-null   int64
 6   Department                  5000 non-null   object
 7   Attendance (%)              5000 non-null   float64
 8   Midterm_Score               5000 non-null   float64
 9   Final_Score                 5000 non-null   float64
 10  Assignments_Avg             5000 non-null   float64
 11  Quizzes_Avg                 5000 non-null   float64
 12  Participation_Score         5000 non-null   float64
 13  Projects_Score              5000 non-null   float64
 14  Total_Score                 5000 non-null   float64
 15  Grade                       5000 non-null   object
 16  Study_Hours_per_Week        5000 non-null   float64
 17  Extracurricular_Activities  5000 non-null   object
 18  Internet_Access_at_Home     5000 non-null   object
 19  Parent_Education_Level      3975 non-null   object
 20  Family_Income_Level         5000 non-null   object
 21  Stress_Level (1-10)         5000 non-null   int64
 22  Sleep_Hours_per_Night       5000 non-null   float64
dtypes: float64(10), int64(2), object(11)
memory usage: 898.6+ KB

In [54]:
df.isnull().sum()

Student_ID                       0
First_Name                       0
Last_Name                        0
Email                            0
Gender                           0
Age                              0
Department                       0
Attendance (%)                   0
Midterm_Score                    0
Final_Score                      0
Assignments_Avg                  0
Quizzes_Avg                      0
Participation_Score              0
Projects_Score                   0
Total_Score                      0
Grade                            0
Study_Hours_per_Week             0
Extracurricular_Activities       0
Internet_Access_at_Home          0
Parent_Education_Level        1025
Family_Income_Level              0
Stress_Level (1-10)              0
Sleep_Hours_per_Night            0
dtype: int64

In [55]:
df.duplicated().sum()

0

## Drop Duplicates

In [56]:
before = len(df)
df.drop_duplicates(inplace = True)
after = len(df)

In [57]:
print(before)
print()
print(after)

5000

5000

## Replace Null Values

In [58]:
df["Parent_Education_Level"].isnull().sum()

1025

In [59]:
df = df[df["Parent_Education_Level"].notna()]
df

,Student_ID,First_Name,Last_Name,Email,Gender,Age,Department,Attendance (%),Midterm_Score,Final_Score,...,Projects_Score,Total_Score,Grade,Study_Hours_per_Week,Extracurricular_Activities,Internet_Access_at_Home,Parent_Education_Level,Family_Income_Level,Stress_Level (1-10),Sleep_Hours_per_Night
0,S1000,Omar,Williams,student0@university.com,Female,22,Mathematics,97.36,40.61,59.61,...,62.84,59.8865,F,10.3,Yes,No,Master's,Medium,1,5.9
1,S1001,Maria,Brown,student1@university.com,Male,18,Business,97.71,57.27,74.00,...,98.23,81.9170,B,27.1,No,No,High School,Low,4,4.3
2,S1002,Ahmed,Jones,student2@university.com,Male,24,Engineering,99.52,41.84,63.85,...,91.22,67.7170,D,12.4,Yes,No,High School,Low,9,6.1
3,S1003,Omar,Williams,student3@university.com,Female,24,Engineering,90.38,45.65,44.44,...,55.48,51.6535,F,25.5,No,Yes,High School,Low,8,4.9
4,S1004,John,Smith,student4@university.com,Female,23,CS,59.41,53.13,61.77,...,87.43,71.4030,C,13.3,Yes,No,Master's,Medium,6,4.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4993,S5993,Ali,Johnson,student4993@university.com,Female,22,CS,50.82,53.45,98.33,...,55.27,67.6875,D,23.0,No,Yes,PhD,Low,6,7.1
4994,S5994,John,Johnson,student4994@university.com,Female,19,Mathematics,62.57,58.18,42.62,...,85.15,61.6775,D,27.2,No,No,Bachelor's,Medium,9,7.3
4995,S5995,Ahmed,Jones,student4995@university.com,Male,19,CS,96.09,45.86,45.63,...,51.66,53.5470,F,7.8,No,No,Master's,Medium,10,4.5
4998,S5998,Sara,Davis,student4998@university.com,Male,23,Engineering,99.09,55.44,57.45,...,84.74,68.6585,D,14.5,Yes,No,PhD,Medium,10,5.9
4999,S5999,Maria,Brown,student4999@university.com,Female,21,Mathematics,90.33,93.29,88.42,...,66.23,78.7485,C,29.9,Yes,Yes,PhD,High,2,5.3

In [60]:
df.head(10)

,Student_ID,First_Name,Last_Name,Email,Gender,Age,Department,Attendance (%),Midterm_Score,Final_Score,...,Projects_Score,Total_Score,Grade,Study_Hours_per_Week,Extracurricular_Activities,Internet_Access_at_Home,Parent_Education_Level,Family_Income_Level,Stress_Level (1-10),Sleep_Hours_per_Night
0,S1000,Omar,Williams,student0@university.com,Female,22,Mathematics,97.36,40.61,59.61,...,62.84,59.8865,F,10.3,Yes,No,Master's,Medium,1,5.9
1,S1001,Maria,Brown,student1@university.com,Male,18,Business,97.71,57.27,74.00,...,98.23,81.9170,B,27.1,No,No,High School,Low,4,4.3
2,S1002,Ahmed,Jones,student2@university.com,Male,24,Engineering,99.52,41.84,63.85,...,91.22,67.7170,D,12.4,Yes,No,High School,Low,9,6.1
3,S1003,Omar,Williams,student3@university.com,Female,24,Engineering,90.38,45.65,44.44,...,55.48,51.6535,F,25.5,No,Yes,High School,Low,8,4.9
4,S1004,John,Smith,student4@university.com,Female,23,CS,59.41,53.13,61.77,...,87.43,71.4030,C,13.3,Yes,No,Master's,Medium,6,4.5
6,S1006,Ahmed,Jones,student6@university.com,Male,24,Business,67.01,90.85,93.74,...,87.51,82.8575,B,22.1,Yes,No,Bachelor's,High,2,4.0
8,S1008,Omar,Smith,student8@university.com,Female,21,CS,97.83,76.97,62.75,...,57.57,65.8605,D,18.1,No,Yes,PhD,High,9,4.8
10,S1010,John,Smith,student10@university.com,Female,23,Business,86.20,70.00,85.54,...,93.14,79.9860,C,7.9,Yes,Yes,High School,Low,4,8.2
13,S1013,John,Williams,student13@university.com,Male,18,Business,91.39,56.63,87.73,...,51.36,66.7105,D,23.0,No,No,PhD,Medium,5,7.9
14,S1014,Liam,Williams,student14@university.com,Male,19,CS,58.18,94.98,64.46,...,55.50,63.7000,D,27.8,No,Yes,Bachelor's,High,2,6.3

In [61]:
df = df.reset_index(drop = True)

In [62]:
df.head(10)

,Student_ID,First_Name,Last_Name,Email,Gender,Age,Department,Attendance (%),Midterm_Score,Final_Score,...,Projects_Score,Total_Score,Grade,Study_Hours_per_Week,Extracurricular_Activities,Internet_Access_at_Home,Parent_Education_Level,Family_Income_Level,Stress_Level (1-10),Sleep_Hours_per_Night
0,S1000,Omar,Williams,student0@university.com,Female,22,Mathematics,97.36,40.61,59.61,...,62.84,59.8865,F,10.3,Yes,No,Master's,Medium,1,5.9
1,S1001,Maria,Brown,student1@university.com,Male,18,Business,97.71,57.27,74.00,...,98.23,81.9170,B,27.1,No,No,High School,Low,4,4.3
2,S1002,Ahmed,Jones,student2@university.com,Male,24,Engineering,99.52,41.84,63.85,...,91.22,67.7170,D,12.4,Yes,No,High School,Low,9,6.1
3,S1003,Omar,Williams,student3@university.com,Female,24,Engineering,90.38,45.65,44.44,...,55.48,51.6535,F,25.5,No,Yes,High School,Low,8,4.9
4,S1004,John,Smith,student4@university.com,Female,23,CS,59.41,53.13,61.77,...,87.43,71.4030,C,13.3,Yes,No,Master's,Medium,6,4.5
5,S1006,Ahmed,Jones,student6@university.com,Male,24,Business,67.01,90.85,93.74,...,87.51,82.8575,B,22.1,Yes,No,Bachelor's,High,2,4.0
6,S1008,Omar,Smith,student8@university.com,Female,21,CS,97.83,76.97,62.75,...,57.57,65.8605,D,18.1,No,Yes,PhD,High,9,4.8
7,S1010,John,Smith,student10@university.com,Female,23,Business,86.20,70.00,85.54,...,93.14,79.9860,C,7.9,Yes,Yes,High School,Low,4,8.2
8,S1013,John,Williams,student13@university.com,Male,18,Business,91.39,56.63,87.73,...,51.36,66.7105,D,23.0,No,No,PhD,Medium,5,7.9
9,S1014,Liam,Williams,student14@university.com,Male,19,CS,58.18,94.98,64.46,...,55.50,63.7000,D,27.8,No,Yes,Bachelor's,High,2,6.3

In [63]:
df.isnull().sum()

Student_ID                    0
First_Name                    0
Last_Name                     0
Email                         0
Gender                        0
Age                           0
Department                    0
Attendance (%)                0
Midterm_Score                 0
Final_Score                   0
Assignments_Avg               0
Quizzes_Avg                   0
Participation_Score           0
Projects_Score                0
Total_Score                   0
Grade                         0
Study_Hours_per_Week          0
Extracurricular_Activities    0
Internet_Access_at_Home       0
Parent_Education_Level        0
Family_Income_Level           0
Stress_Level (1-10)           0
Sleep_Hours_per_Night         0
dtype: int64

In [64]:
df.shape

(3975, 23)

In [65]:
df.rename(columns = {"Department" : "Subject"} , inplace = True)

In [66]:
df.head()

,Student_ID,First_Name,Last_Name,Email,Gender,Age,Subject,Attendance (%),Midterm_Score,Final_Score,...,Projects_Score,Total_Score,Grade,Study_Hours_per_Week,Extracurricular_Activities,Internet_Access_at_Home,Parent_Education_Level,Family_Income_Level,Stress_Level (1-10),Sleep_Hours_per_Night
0,S1000,Omar,Williams,student0@university.com,Female,22,Mathematics,97.36,40.61,59.61,...,62.84,59.8865,F,10.3,Yes,No,Master's,Medium,1,5.9
1,S1001,Maria,Brown,student1@university.com,Male,18,Business,97.71,57.27,74.00,...,98.23,81.9170,B,27.1,No,No,High School,Low,4,4.3
2,S1002,Ahmed,Jones,student2@university.com,Male,24,Engineering,99.52,41.84,63.85,...,91.22,67.7170,D,12.4,Yes,No,High School,Low,9,6.1
3,S1003,Omar,Williams,student3@university.com,Female,24,Engineering,90.38,45.65,44.44,...,55.48,51.6535,F,25.5,No,Yes,High School,Low,8,4.9
4,S1004,John,Smith,student4@university.com,Female,23,CS,59.41,53.13,61.77,...,87.43,71.4030,C,13.3,Yes,No,Master's,Medium,6,4.5

## Create table Date

In [67]:
rng = pd.date_range("2024-09-01", "2025-06-30", periods = len(df))
df["date"] = rng

In [68]:
df.head()

,Student_ID,First_Name,Last_Name,Email,Gender,Age,Subject,Attendance (%),Midterm_Score,Final_Score,...,Total_Score,Grade,Study_Hours_per_Week,Extracurricular_Activities,Internet_Access_at_Home,Parent_Education_Level,Family_Income_Level,Stress_Level (1-10),Sleep_Hours_per_Night,date
0,S1000,Omar,Williams,student0@university.com,Female,22,Mathematics,97.36,40.61,59.61,...,59.8865,F,10.3,Yes,No,Master's,Medium,1,5.9,2024-09-01 00:00:00.000000000
1,S1001,Maria,Brown,student1@university.com,Male,18,Business,97.71,57.27,74.00,...,81.9170,B,27.1,No,No,High School,Low,4,4.3,2024-09-01 01:49:25.878208354
2,S1002,Ahmed,Jones,student2@university.com,Male,24,Engineering,99.52,41.84,63.85,...,67.7170,D,12.4,Yes,No,High School,Low,9,6.1,2024-09-01 03:38:51.756416708
3,S1003,Omar,Williams,student3@university.com,Female,24,Engineering,90.38,45.65,44.44,...,51.6535,F,25.5,No,Yes,High School,Low,8,4.9,2024-09-01 05:28:17.634625062
4,S1004,John,Smith,student4@university.com,Female,23,CS,59.41,53.13,61.77,...,71.4030,C,13.3,Yes,No,Master's,Medium,6,4.5,2024-09-01 07:17:43.512833417

In [69]:
df.duplicated().sum()

0

In [70]:
df.isnull().sum()

Student_ID                    0
First_Name                    0
Last_Name                     0
Email                         0
Gender                        0
Age                           0
Subject                       0
Attendance (%)                0
Midterm_Score                 0
Final_Score                   0
Assignments_Avg               0
Quizzes_Avg                   0
Participation_Score           0
Projects_Score                0
Total_Score                   0
Grade                         0
Study_Hours_per_Week          0
Extracurricular_Activities    0
Internet_Access_at_Home       0
Parent_Education_Level        0
Family_Income_Level           0
Stress_Level (1-10)           0
Sleep_Hours_per_Night         0
date                          0
dtype: int64

In [71]:
df["date"] = pd.to_datetime(df["date"], errors = "coerce")

## Count the missing data

In [72]:
missing_dates = df["date"].isna().sum()
print("The Count of missing dates", missing_dates)

The Count of missing dates 0

In [73]:
df.head(10)

,Student_ID,First_Name,Last_Name,Email,Gender,Age,Subject,Attendance (%),Midterm_Score,Final_Score,...,Total_Score,Grade,Study_Hours_per_Week,Extracurricular_Activities,Internet_Access_at_Home,Parent_Education_Level,Family_Income_Level,Stress_Level (1-10),Sleep_Hours_per_Night,date
0,S1000,Omar,Williams,student0@university.com,Female,22,Mathematics,97.36,40.61,59.61,...,59.8865,F,10.3,Yes,No,Master's,Medium,1,5.9,2024-09-01 00:00:00.000000000
1,S1001,Maria,Brown,student1@university.com,Male,18,Business,97.71,57.27,74.00,...,81.9170,B,27.1,No,No,High School,Low,4,4.3,2024-09-01 01:49:25.878208354
2,S1002,Ahmed,Jones,student2@university.com,Male,24,Engineering,99.52,41.84,63.85,...,67.7170,D,12.4,Yes,No,High School,Low,9,6.1,2024-09-01 03:38:51.756416708
3,S1003,Omar,Williams,student3@university.com,Female,24,Engineering,90.38,45.65,44.44,...,51.6535,F,25.5,No,Yes,High School,Low,8,4.9,2024-09-01 05:28:17.634625062
4,S1004,John,Smith,student4@university.com,Female,23,CS,59.41,53.13,61.77,...,71.4030,C,13.3,Yes,No,Master's,Medium,6,4.5,2024-09-01 07:17:43.512833417
5,S1006,Ahmed,Jones,student6@university.com,Male,24,Business,67.01,90.85,93.74,...,82.8575,B,22.1,Yes,No,Bachelor's,High,2,4.0,2024-09-01 09:07:09.391041771
6,S1008,Omar,Smith,student8@university.com,Female,21,CS,97.83,76.97,62.75,...,65.8605,D,18.1,No,Yes,PhD,High,9,4.8,2024-09-01 10:56:35.269250125
7,S1010,John,Smith,student10@university.com,Female,23,Business,86.20,70.00,85.54,...,79.9860,C,7.9,Yes,Yes,High School,Low,4,8.2,2024-09-01 12:46:01.147458480
8,S1013,John,Williams,student13@university.com,Male,18,Business,91.39,56.63,87.73,...,66.7105,D,23.0,No,No,PhD,Medium,5,7.9,2024-09-01 14:35:27.025666834
9,S1014,Liam,Williams,student14@university.com,Male,19,CS,58.18,94.98,64.46,...,63.7000,D,27.8,No,Yes,Bachelor's,High,2,6.3,2024-09-01 16:24:52.903875188

In [74]:
df["date"] = pd.to_datetime(df["date"], errors = "coerce").dt.strftime("%Y-%m-%d")

In [75]:
df.head()

,Student_ID,First_Name,Last_Name,Email,Gender,Age,Subject,Attendance (%),Midterm_Score,Final_Score,...,Total_Score,Grade,Study_Hours_per_Week,Extracurricular_Activities,Internet_Access_at_Home,Parent_Education_Level,Family_Income_Level,Stress_Level (1-10),Sleep_Hours_per_Night,date
0,S1000,Omar,Williams,student0@university.com,Female,22,Mathematics,97.36,40.61,59.61,...,59.8865,F,10.3,Yes,No,Master's,Medium,1,5.9,2024-09-01
1,S1001,Maria,Brown,student1@university.com,Male,18,Business,97.71,57.27,74.00,...,81.9170,B,27.1,No,No,High School,Low,4,4.3,2024-09-01
2,S1002,Ahmed,Jones,student2@university.com,Male,24,Engineering,99.52,41.84,63.85,...,67.7170,D,12.4,Yes,No,High School,Low,9,6.1,2024-09-01
3,S1003,Omar,Williams,student3@university.com,Female,24,Engineering,90.38,45.65,44.44,...,51.6535,F,25.5,No,Yes,High School,Low,8,4.9,2024-09-01
4,S1004,John,Smith,student4@university.com,Female,23,CS,59.41,53.13,61.77,...,71.4030,C,13.3,Yes,No,Master's,Medium,6,4.5,2024-09-01

In [76]:
df.duplicated().sum()

0

## Create The Performance Column

In [77]:
df["performance"] = pd.cut(df["Total_Score"], bins = [0, 50, 75, 100], labels = ["Low", "Medium", "High"], include_lowest = True)

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3975 entries, 0 to 3974
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Student_ID                  3975 non-null   object
 1   First_Name                  3975 non-null   object
 2   Last_Name                   3975 non-null   object
 3   Email                       3975 non-null   object
 4   Gender                      3975 non-null   object
 5   Age                         3975 non-null   int64
 6   Subject                     3975 non-null   object
 7   Attendance (%)              3975 non-null   float64
 8   Midterm_Score               3975 non-null   float64
 9   Final_Score                 3975 non-null   float64
 10  Assignments_Avg             3975 non-null   float64
 11  Quizzes_Avg                 3975 non-null   float64
 12  Participation_Score         3975 non-null   float64
 13  Projects_Score              3975 non-null   float64
 14  Total_Score                 3975 non-null   float64
 15  Grade                       3975 non-null   object
 16  Study_Hours_per_Week        3975 non-null   float64
 17  Extracurricular_Activities  3975 non-null   object
 18  Internet_Access_at_Home     3975 non-null   object
 19  Parent_Education_Level      3975 non-null   object
 20  Family_Income_Level         3975 non-null   object
 21  Stress_Level (1-10)         3975 non-null   int64
 22  Sleep_Hours_per_Night       3975 non-null   float64
 23  date                        3975 non-null   object
 24  performance                 3975 non-null   category
dtypes: category(1), float64(10), int64(2), object(12)
memory usage: 749.5+ KB

In [35]:
df.head()

,Student_ID,First_Name,Last_Name,Email,Gender,Age,Subject,Attendance (%),Midterm_Score,Final_Score,...,Grade,Study_Hours_per_Week,Extracurricular_Activities,Internet_Access_at_Home,Parent_Education_Level,Family_Income_Level,Stress_Level (1-10),Sleep_Hours_per_Night,date,performance
0,S1000,Omar,Williams,student0@university.com,Female,22,Mathematics,97.36,40.61,59.61,...,F,10.3,Yes,No,Master's,Medium,1,5.9,2024-09-01,Medium
1,S1001,Maria,Brown,student1@university.com,Male,18,Business,97.71,57.27,74.00,...,B,27.1,No,No,High School,Low,4,4.3,2024-09-01,High
2,S1002,Ahmed,Jones,student2@university.com,Male,24,Engineering,99.52,41.84,63.85,...,D,12.4,Yes,No,High School,Low,9,6.1,2024-09-01,Medium
3,S1003,Omar,Williams,student3@university.com,Female,24,Engineering,90.38,45.65,44.44,...,F,25.5,No,Yes,High School,Low,8,4.9,2024-09-01,Medium
4,S1004,John,Smith,student4@university.com,Female,23,CS,59.41,53.13,61.77,...,C,13.3,Yes,No,Master's,Medium,6,4.5,2024-09-01,Medium

In [36]:
final_df = df[["Student_ID", "First_Name", "Last_Name", "Subject", "Attendance (%)", "date", "performance"]]

In [37]:
final_df.to_csv("Students_clean.csv", index = False)

In [38]:
final_df.head()

,Student_ID,First_Name,Last_Name,Subject,Attendance (%),date,performance
0,S1000,Omar,Williams,Mathematics,97.36,2024-09-01,Medium
1,S1001,Maria,Brown,Business,97.71,2024-09-01,High
2,S1002,Ahmed,Jones,Engineering,99.52,2024-09-01,Medium
3,S1003,Omar,Williams,Engineering,90.38,2024-09-01,Medium
4,S1004,John,Smith,CS,59.41,2024-09-01,Medium

In [39]:
final_df.shape

(3975, 7)

In [40]:
final_df

,Student_ID,First_Name,Last_Name,Subject,Attendance (%),date,performance
0,S1000,Omar,Williams,Mathematics,97.36,2024-09-01,Medium
1,S1001,Maria,Brown,Business,97.71,2024-09-01,High
2,S1002,Ahmed,Jones,Engineering,99.52,2024-09-01,Medium
3,S1003,Omar,Williams,Engineering,90.38,2024-09-01,Medium
4,S1004,John,Smith,CS,59.41,2024-09-01,Medium
...,...,...,...,...,...,...,...
4993,S5993,Ali,Johnson,CS,50.82,2025-06-29,Medium
4994,S5994,John,Johnson,Mathematics,62.57,2025-06-29,Medium
4995,S5995,Ahmed,Jones,CS,96.09,2025-06-29,Medium
4998,S5998,Sara,Davis,Engineering,99.09,2025-06-29,Medium
4999,S5999,Maria,Brown,Mathematics,90.33,2025-06-30,High

## Save the changes on the original data

In [41]:
df.to_csv("Students_Performance_Dashboard.csv", index = False)

In [ ]:
d